<mat-card color=primary class="card mx-auto text-center" style="height: 50vh; border-radius: 15px;">
    <mat-card-header>LOGIN</mat-card-header>
    <mat-card-content class="m-5">
        <div>
            <mat-form-field appearance="legacy">
                <mat-label>Email</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="legacy">
                <mat-label>Password</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary"> Ingresar</button>
    </mat-card-content>
</mat-card>